* {
   	text-align:center;
	color: #00ff00;
	background-color:black;
	text-shadow: 0 0 3px #FFFFFF;
}

body{
    overflow-x:hidden;
}



a{
	
	text-decoration: none !important;
}

a:hover{
	font-weight:bold;
}

.matrixtext{
	display: inline-block;
	position: relative;
        width:20px; 
	padding:0px; 
	margin:0px;
	font-size: 24px;
	top: 144px;
    color: red;
	text-shadow:
	0 -24px 0 #FF0000,
	0 -48px 0 rgba(255,0,0,0.83),
	0 -72px 0 rgba(255,0,0,0.66),
	0 -96px 0 rgba(255,0,0,0.49),
	0 -120px 0 rgba(255,0,0,0.33),
	0 -144px 0 rgba(255,0,0,0.16),
	0 24px 0 #FF0000,
	0 48px 0 rgba(255,0,0,0.83),
	0 72px 0 rgba(255,0,0,0.66),
	0 96px 0 rgba(255,0,0,0.49),
	0 120px 0 rgba(255,0,0,0.33),
	0 144px 0 rgba(255,0,0,0.16)      
}